/* Authored by Chubak Bidpaa: chubakbidpaa@gmail.com - 2020 - Corona Times */

import { StyleSheet, View, Text } from "react-native";
import PropTypes from "prop-types";


export default function NAMEScreen({navigation}) {

return (
<View>
<Text style={styles.text}> This is the NAME screen. </Text>
</View>
);

}


NAMEScreen.propTypes = {
children: PropTypes.element.isRequired,
};